@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #e5e7eb;
  --glitch-red: #ff0040;
  --glitch-blue: #00ffff;
  --glitch-green: #39ff14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #f3f4f6;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Geist Sans', 'Courier New', monospace;
  overflow-x: hidden;
  transition: background 0.3s ease;
}

.glitch {
  position: relative;
  color: var(--foreground);
  font-weight: bold;
  font-size: 2.5rem;
  animation: glitch 1s infinite;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}

.glitch::before {
  animation: glitchTop 1s infinite;
  color: var(--glitch-red);
  z-index: -1;
}

.glitch::after {
  animation: glitchBottom 1s infinite;
  color: var(--glitch-blue);
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: none;
  }

  20% {
    transform: skew(-0.5deg, 0.5deg);
  }

  40% {
    transform: skew(0.5deg, -0.5deg);
  }

  60% {
    transform: skew(-1deg, 1deg);
  }

  80% {
    transform: skew(1deg, -1deg);
  }

  100% {
    transform: none;
  }
}

@keyframes glitchTop {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }

  10% {
    clip: rect(0, 9999px, 10px, 0);
    transform: translate(-3px, -3px);
  }

  20% {
    clip: rect(0, 9999px, 5px, 0);
    transform: translate(3px, -2px);
  }

  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}

@keyframes glitchBottom {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }

  10% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: translate(3px, 3px);
  }

  20% {
    clip: rect(5px, 9999px, 10px, 0);
    transform: translate(-3px, 2px);
  }

  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}


/* globals.css */

.tile-button {
  display: block;
  padding: 1.25rem;
  border: 1px solid var(--foreground);
  background-color: black;

  color: var(--foreground);
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
  font-family: var(--font-mono, monospace);
}

.tile-button:hover {
  background-color: var(--foreground);
  color: var(--background);
  transform: scale(1.03);
  cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.edgy-font {
  font-family: 'Orbitron', sans-serif;
}